.table__outer__container{
    background-color: white;
    border-radius: 20px;
    margin-top: 4%;
    overflow: scroll;
     height: 70vh;
}

.table__container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
  
  
}

.table__container div{
    width: 80px;
    /* background-color: red; */
    font-size: 0.7rem;
    font-weight: bolder;
    
}

.table__container_heading div{
    color:orange;
    font-weight: bolder;
}
